*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black
    ;
}

.parent{
 background-color: burlywood;
 color: maroon;
 width: 500px;
 height: 300px;
 text-align: center;
 border: solid maroon 5px;
 margin: auto;
 margin-top: 200px;
}

.parent h2{
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    margin-top: 10px;
}

.parent p{
    background-color: antiquewhite;
    margin-top: 10px;
}