*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-weight: 600;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.10);
}
.nav-right{
    display: block;
    gap: 5px;
    align-items: center;
}
.right{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
nav a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(10, 10, 116);
}
a:hover{
    color: orange;
}
.nav-btn{
    display: flex;
    gap: 9px;
    align-items: center;
    background-color: rgb(10, 10, 116);
    color: white;
    padding: 5px;
    margin-right: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.nav-btn:hover{
   transform: scale(1.1);
   background-color: rgb(3, 3, 51);
}
.nav-btn img{
    border-radius: 20px;
}
.hero-banner{
    height: 600px;
   background-image: url('../images/indiaImages/roadmap-banner.png');
   background-size: cover;
   background-position: center;
}
.blue-box{
    background-color: rgb(10, 10, 116);
    color: white;
    padding: 20px;
    height: 220px;
    width: 90%;
    margin: 9px auto;
    border-radius: 20px;
  
}
.main-part-two{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
.blue-box-child{
    border-right: 2px solid grey;
    padding: 6px;
}
.section-three-head{
    text-align: center;
    color: rgb(10, 10, 116);
}
.section-three{
    background-color: rgb(247, 243, 243);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.10);
    margin-left: 80px;
    margin-top: 50px;
    height: 650px;
    padding: 20px;
    width: 90%;
    border-radius: 20px;
}
.year, .section-three-subhead, .images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.images{
    position: relative;
}
.images::before{
    content: "";
    position: absolute;
    top: 25px;
    left: 5%;
    width: 90%;
    height: 3px;
    background: linear-gradient(
        to right,
        orange,
        #1e88e5,
        green,
        purple,
        navy
    );
    z-index: 0;
}
.images div{
    position: relative;
    z-index: 1;
    background: white;
    padding: 5px;
    border-radius: 50%;
}
.year-one{
    color: rgb(89, 126, 227);
}
.year-two{
    color: rgb(33, 73, 182);
}
.year-three{
    color: rgb(117, 179, 24);
}
.year-four{
    color: rgb(182, 13, 182);
}
.year-five{
   color: goldenrod;
}
.roadmap-content{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.roadmap-content-child{
    border-left: 2px solid grey;
    padding: 20px;
}
.section-four-images{
    margin-top: 30px;
    margin-left: 7= 0px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
.dev-image-three, .dev-image-two{
    border-radius: 20px;
}
.section-five{
    background-color: transparent;
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    width: 90%;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 90px;
    height: 180px;
    

}
.section-five-head{
    text-align: center;
    padding: 30px;
    color: rgb(10, 10, 116);
}
.section-five-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-five-image{
   background-color: lightblue;
   border-radius: 60%;
  
}
footer{
  background-color: rgb(10, 10, 116);
  margin-top: 70px;
  height: 200px;
  width: 100%;
}
.parent-footer{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    gap: 20px;
    
}
.footer-child{
    margin-top: 50px;
    padding-right: 25px;
    border-right: 1px solid orange;
    height: 50%;
    
}
.footer-section{
    border-bottom: 5px solid orange;
}