*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-weight: 600;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.10);
}
.nav-right{
    display: block;
    gap: 5px;
    align-items: center;
}
.right{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
nav a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(10, 10, 116);
}
a:hover{
    color: orange;
}
.title{
    font-size:x-large;
    color: rgb(10, 10, 116);
}
.sub-title{
    font-size: small;
    color: rgb(10, 10, 116);
}
.div-sub-head{
    padding: 10px;
}
.sub-head{
    font-size: 18px;
}
.nav-btn{
    display: flex;
    gap: 9px;
    align-items: center;
    background-color: rgb(10, 10, 116);
    color: white;
    padding: 5px;
    margin-right: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.nav-btn:hover{
   transform: scale(1.1);
   background-color: rgb(3, 3, 51);
}
.nav-btn img{
    border-radius: 20px;
}
body{
    background-image: url("../images/indiaImages/banner.png");
    background-repeat: no-repeat;
    background-position: center;
     background-position: right center;
     height: 100vh;
    background-size: cover;
}
.banner-section{
    margin-top: 150px;
    margin-left: 90px;
}
.flag-line{
    display: flex;
    align-items: center;
}
.flag-line p{
    padding-left: 5px;
}

.flag-line span{
    width: 28px;
    height: 2px;
    border-radius: 5px;
}

.saffron{
    background-color: #FF671F;
}

.white{
    background-color: #E5E5E5;
}

.green{
    background-color: #046A38;
}
.above-text{
    font-size: small;
}
.banner-section h1,span{
    font-size: 100px;
}
.india{
    color: rgb(10, 10, 116);
}
.twenty{
    color: orange;
}
.fourty-seven{
    color: green;
}
.btn-one{
    background-color: rgb(10, 10, 116);
    color: white;
    padding: 9px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
   
}

.btn-one:hover{
   background-color: transparent;
   color: black;
   border: 2px solid black;
   
}
.btn-two{
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.btn-two:hover{
   transform: scale(1.1);
   background-color: rgb(10, 10, 116);
   color: white;
}
.developed{
   color: orange;
   font-size: 18px;
}
.developed-india{
   color: green;
   font-size: 18px;
}
.pillars{
    margin-top: 230px;
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.card{
    background-color: transparent;
    border: none;
    box-shadow: 8px 8px 18px rgba(1, 2, 1, 0.10);
    border-radius: 6px;
    height: 280px;
    width: 250px;
    margin: 20px;
    padding: 20px;
    transition: 0.5s ease;
}
.card:hover{
   transform: scale(1.1);
}
.card h3{
    color: rgb(7, 7, 159);
}
.card a{
    text-decoration: none;
}
footer{
  background-color: rgb(10, 10, 116);
  margin-top: 70px;
  height: 200px;
  width: 100%;
}
.parent-footer{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    gap: 20px;
    
}
.footer-child{
    margin-top: 50px;
    padding-right: 25px;
    border-right: 1px solid orange;
    height: 50%;
    
}
.footer-section{
    border-bottom: 5px solid orange;
}
